<br><br><br><br><br><br>
<div id="top">
  <br><br><br><br>
  <img src="images/logo.png"></img>
  <br>
  <input placeholder="Room PIN" type="text"></input>
  <div class="mid">
    <label class="rocker rocker-small">
      <input type="checkbox">
      <span class="switch-left">Yes</span>
      <span class="switch-right">No</span>
    </label>
  </div>
  <button>Enter</button></div>
<br><br><br><br><br><br><br><br>
<div class="createcontainer2"><div class="createcontainer">
  <div class="create">Vuelve al inicio <b><a href="/">ACA</a></b><br><br></div>
  <div class="createcontainer"><div class="create1">
    <a href="#">Terms</a><span> | </span><a href="#">Privacy</a>
    </div>
  </div>
  </div>