<br><br><br><br><br><br>
<div id="top">
    <br><br><br><br>
    <img src="images/logo.png"></img>
    <br>
    <div id="error" class="mid"> </div>
    <form id="form">
        <input placeholder="Votes to Skip" type="number" id="votes_to_skip" name="votes_to_skip" required></input>
        <div class="mid">
            <p> ¿Invitados pueden pausar la musica? </p>
        </div>
        <div class="mid">
            <br>
            <label class="rocker rocker-small">
                <input name="guest_can_pause" id="guest_can_pause" type="checkbox">
                <span class="switch-left">Si</span>
                <span class="switch-right">No</span>
                </input>
            </label>
        </div>
    </form>
    <button onclick="create()">Enter</button>
</div>
<br><br><br><br><br><br><br><br>
<div class="createcontainer2">
    <div class="createcontainer">
        <div class="create">Vuelve al inicio <b><a href="/">ACA</a></b><br><br></div>
        <div class="createcontainer">
            <div class="create1">
                <a href="#">Terms</a><span> | </span><a href="#">Privacy</a>
            </div>
        </div>
    </div>
</div>