<link rel="stylesheet" href="css/create.css">
<br><br><br><br><br><br>
<div id="top">
  <br><br><br><br>
  <img src="images/logo.png"></img>
  <br>
  <input placeholder="Room PIN" type="text"></input>
  <form action="">
    <input type="radio" name="rdo" id="yes" checked />
    <input type="radio" name="rdo" id="no"/>
    <div class="switch">
      <label for="yes">Yes</label>
      <label for="no">No</label>
      <span></span>
    </div>
  </form>
  <button>Enter</button></div>
<br><br><br><br><br><br><br><br>
<div class="createcontainer2"><div class="createcontainer">
  <div class="create">Vuelve al inicio <b><a href="/">ACA</a></b><br><br></div>
  <div class="createcontainer"><div class="create1">
    <a href="#">Terms</a><span> | </span><a href="#">Privacy</a>
    </div>
  </div>
  </div>