<br><br><br><br><br><br>
<div id="top">
  <br><br><br><br>
  <img src="images/logo.png"></img>
  <br>
  <div id="error_join" class="mid"> </div>
  <input id="room_pin" placeholder="Room PIN" type="text"></input>
  <button onclick="join()">Enter</button></div>
<br><br><br><br><br><br><br><br>
<div class="createcontainer2"><div class="createcontainer">
  <div class="create">Crea tu propia sala <b><a href="/create">ACA</a></b><br><br></div>
  <div class="createcontainer"><div class="create1">
    <a href="#">Terms</a><span> | </span><a href="#">Privacy</a>
    </div>
  </div>
  </div>