<br><br><br><br><br><br>
<div id="top">
    <br><br><br><br>
    <img src="images/logo.png"></img>
    <br>
    <p class="codeLittle mid">Room Code:</p>
    <button>
        <p id="code" class="mid code"></p>
    </button>
    <p class="codeLittle mid">¿Invitados pueden pausar?</p>
    <div id="icon_bool" class="mid"> </div>
    <br><br>
    <button onclick="exit()">Exit Room</button>
</div>
<br><br><br><br><br><br><br><br>
<div class="createcontainer2">
    <div class="createcontainer">
        <div class="create">Vuelve al inicio <b><a href="/">ACA</a></b><br><br></div>
        <div class="createcontainer">
            <div class="create1">
                <a href="#">Terms</a><span> | </span><a href="#">Privacy</a>
            </div>
        </div>
    </div>
</div>