<br><br><br><br><br><br>
<div id="top">
    <br><br><br><br>
    <img src="images/logo.png"></img>
    <br>
    <p class="codeBig">Room Code:</p>
    <p id="code" class="mid code"></p>
</div>
<br><br><br><br><br><br><br><br>
<div class="createcontainer2">
    <div class="createcontainer">
        <div class="create">Vuelve al inicio <b><a href="/">ACA</a></b><br><br></div>
        <div class="createcontainer">
            <div class="create1">
                <a href="#">Terms</a><span> | </span><a href="#">Privacy</a>
            </div>
        </div>
    </div>
</div>